@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;*/

*{
    margin: 0;
    padding: 0;
}
.imgf{
    max-width: 100%;
}
.img-center{
    display: block;
    margin: 0 auto;
}
html,
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
body{
    background: #f3f3f3;
}
.container{
    width: 991px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}
.main .content h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
}
.main .content h5{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
}
.main .content{
    background: #fff;
    padding: 50px 15px;
    margin: 30px 0;
    border-radius: 6px;
    box-shadow: 0 0 40px #33333345;
}
.main .content .line{
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    margin: 30px 0;
}
.main .content .desc{
    line-height: 26px;
    font-size: 15px;
    
}
.main .content .desc .wraptable{
    overflow: scroll;
}
.main .content .desc table{
    border-collapse: collapse;
    width: 100%;
}
.main .content .desc table tr{
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.main .content .desc table tr:hover{
    background-color: #676767;
    color: #fff;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.main .content .desc table tr td{
    border: 1px solid #242424;
    padding: 5px 10px;
}
.main .content .desc table tr th{
    background: #715CC3;
    border: 1px solid #715CC3;
    color: #fff;
    padding: 5px;
}

@media only screen and (max-width: 991px){
    .container{
        width: 94%;
    }
}